*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$borderSize: 1px;
$borderColor: black;

.container{
    width: 640px;
    height: 640px;
}

.block{
    display: inline-block;
    border-color: $borderColor;
    border-width: 1px;
    border-style: solid;
    height: 80px;
    width: 80px;
    padding: 0;
    margin: 0;
}

.block::before,
.block::after{
  content: "";
}

